{% extends "AppCoder/padre.html" %}

{% load static %}

    {% block contenidoDinamico2 %}
        <h1 class="mb-1">Lista de Materias</h1>
    {% endblock %}


    {% block contenidoDinamico %}

    <h1>Materias</h1>
    <ul>
        {% for Materia in object_list %}

            <li>
                <p>NOMBRE: {{ Materia.nombreMateria }} </p>
                <p> 
                    <a href="{% url 'MateriaDetail' Materia.id %}">Ver</a> | 
                    <a href="{% url 'MateriaEdit' Materia.id %}">Editar</a> | 
                    <a href="{% url 'MateriaDelete' Materia.id %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}

        <a href="{% url 'MateriaNew'  %}">Nuevo</a> | 
    {% endblock %}